
*.db3

*.csv

*.zip
data_wrangling_xml/data/mondial_database_less.xml

data_wrangling_xml/data/xml_sample.xml

data_wrangling_xml/sliderule_dsi_xml_exercise.ipynb

data_wrangling_xml/.ipynb_checkpoints/Determining XML Tree Structure Programmatically-checkpoint.ipynb

data_wrangling_xml/.ipynb_checkpoints/sliderule_dsi_xml_exercise-checkpoint.ipynb

data_wrangling_xml/.ipynb_checkpoints/sliderule_dsi_xml_exercise-Solutions-AP-checkpoint.ipynb

data_wrangling_json/sliderule_dsi_json_exercise.ipynb

data_wrangling_json/sliderule_dsi_json_exercise-AP-Solutions_old.ipynb

data_wrangling_json/data/world_bank_projects.json

data_wrangling_json/.ipynb_checkpoints/sliderule_dsi_json_exercise-AP-Solutions-checkpoint.ipynb

data_wrangling_json/.ipynb_checkpoints/sliderule_dsi_json_exercise-checkpoint.ipynb

data_wrangling_json/.ipynb_checkpoints/sliderule_dsi_xml_exercise-checkpoint.ipynb

data_wrangling_json/.ipynb_checkpoints/sliderule_dsi_json_exercise-AP-Solutions-Ver2-checkpoint.ipynb

data_wrangling_json/.ipynb_checkpoints/sliderule_dsi_json_exercise-AP-Solutions_old-checkpoint.ipynb

data_wrangling_json/.ipynb_checkpoints/sliderule_dsi_json_exercise-AP-checkpoint.ipynb

data_wrangling_json/data/world_bank_projects_less.json

data_wrangling_json/sliderule_dsi_json_exercise-AP-Solutions_old.ipynb

data_wrangling_xml/.ipynb_checkpoints/XML_examples-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/boto3_experiment-checkpoint.ipynb

.ipynb_checkpoints/Untitled-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/citibike_EDA_1month-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/citibike_EDA_R-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/citibike_EDA-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/citibike_infer_stats-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/citibike_regression-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/citibike_stations_EDA-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/citibke_sql_experiment-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/data_story_citibike-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/download_citibike_data-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/Examine_citibike_feed-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/Examine_weather_data_nyc-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/get_holidays-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/get_stations_citibike-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/make_station_table_from_sql-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/read_citibike_to_sql_chunks-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/Read_citibike_to_sql_onemonth-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/read_citibike_to_sql-checkpoint.ipynb

Capstone_1/.ipynb_checkpoints/read_live_data-checkpoint.ipynb
